# Single source of truth for the Sydium public API. Auto-synced to docs.sydium.com
# (Parhelion-Software/sydium-docs, api-reference/openapi.yaml) whenever this file
# changes on develop, via .github/workflows/sync-docs-openapi.yml.
openapi: 3.1.0
info:
  title: Sydium Public API
  version: "1.0.0"
servers:
  - url: https://api.sydium.com
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      description: Opaque API key (sk_live_... / sk_test_...), or an OAuth access token issued for the REST API
  schemas:
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success: { const: false }
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [bad_request, unauthorized, forbidden, insufficient_permissions, not_found, unprocessable, payload_too_large, rate_limited, invalid_state, external_service_error, internal_error]
            message: { type: string }
        meta: { type: object }
    MediaUploadUrlRequest:
      type: object
      required: [contentType, fileSize]
      properties:
        contentType:
          type: string
          description: >-
            Must be one of the supported types. An unsupported type is rejected rather
            than stored, because the file extension is derived from it and an unknown
            extension makes the publish pipeline misclassify a video as an image.
          enum:
            - image/jpeg
            - image/png
            - image/gif
            - image/webp
            - video/mp4
            - video/quicktime
            - video/webm
        fileSize:
          type: integer
          description: >-
            Bytes. Images are limited to 50MB, video to 2GB. The value is signed into
            the presigned URL, so a larger upload than declared is rejected by storage.
    MediaFromUrlRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: >-
            A direct, publicly reachable http(s) link to the media itself. Up to three
            redirects are followed, each destination re-validated and re-pinned. The file is identified by
            its BYTES, not by the response Content-Type, so application/octet-stream is
            accepted for a real image or video and an image/* header on an HTML document
            is not. Images are limited to 50MB and video to 50MB on this path - use
            /v1/media/upload-url for anything larger, since it streams straight to
            storage instead of through the API.
    CreatePostRequest:
      type: object
      required: [targets]
      properties:
        caption: { type: string }
        clientId:
          type: string
          description: >-
            Optional agency client id (see GET /v1/clients). When set, the post is published
            using that client's connected accounts instead of the team's own.
        media: { type: array, items: { type: string } }
        scheduleAt: { type: string, format: date-time }
        targets:
          type: array
          items:
            type: object
            required: [platform]
            properties:
              platform: { type: string }
              postType: { type: string }
              options: { type: object }
    UpdatePostRequest:
      type: object
      description: >-
        At least one of caption/media/scheduleAt must be present. Fields not sent are left
        unchanged; media:[] clears media. The platform set cannot be changed here.
      properties:
        caption: { type: string }
        clientId:
          type: string
          description: Optional agency client id (see GET /v1/clients) to scope the edit to that client's posts.
        media: { type: array, items: { type: string } }
        scheduleAt: { type: string, format: date-time }
    GenerateRequest:
      type: object
      required: [topic]
      properties:
        topic: { type: string }
        platform: { type: string }
        tone: { type: string }
        language: { type: string }
    Account:
      type: object
      required: [platform, username, displayName, profilePicture]
      properties:
        platform: { type: string }
        username: { type: [string, "null"] }
        displayName: { type: [string, "null"] }
        profilePicture: { type: [string, "null"] }
    AccountsResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [team, accounts]
          properties:
            team:
              type: object
              description: >-
                The workspace this key or token is bound to. A credential reaches
                exactly one workspace, fixed when it was created, and cannot be
                pointed at another - use a separate credential per workspace.
                Returned here so a caller can tell "wrong workspace" apart from
                "nothing connected", which otherwise look identical.
              required: [id, name]
              properties:
                id: { type: string }
                name: { type: string }
            accounts:
              type: array
              items: { $ref: "#/components/schemas/Account" }
        meta: { type: object }
    Client:
      type: object
      required: [id, name, status]
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string }
    ClientsResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [clients]
          properties:
            clients:
              type: array
              items: { $ref: "#/components/schemas/Client" }
        meta: { type: object }
    PlatformCapability:
      type: object
      required: [platform, captionLimit, maxMediaItems, mediaTypes]
      properties:
        platform: { type: string }
        captionLimit: { type: integer }
        titleLimit: { type: [integer, "null"] }
        descriptionLimit: { type: [integer, "null"] }
        maxMediaItems: { type: integer }
        mediaTypes: { type: array, items: { type: string } }
        media: { type: [object, "null"] }
    PlatformCapabilitiesResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [platforms]
          properties:
            platforms: { type: array, items: { $ref: "#/components/schemas/PlatformCapability" } }
        meta: { type: object }
    SinglePlatformCapabilityResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data: { $ref: "#/components/schemas/PlatformCapability" }
        meta: { type: object }
    HealthResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [status, version]
          properties:
            status: { type: string }
            version: { type: string }
        meta: { type: object }
    MediaUrlResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [publicUrl, key]
          properties:
            uploadUrl:
              type: string
              description: Present only on /v1/media/upload-url. Valid for one hour.
            publicUrl:
              type: string
              description: The value to pass in a post's `media` array.
            key: { type: string }
            mimeType:
              type: string
              description: >-
                Present on /v1/media/from-url. The type identified from the file's bytes,
                which is not necessarily what the remote server declared.
            bytes: { type: integer, description: Present on /v1/media/from-url. }
            width:
              type: integer
              description: Present on /v1/media/from-url when measurable.
            height:
              type: integer
              description: Present on /v1/media/from-url when measurable.
            duration:
              type: number
              description: Seconds. Present on /v1/media/from-url for video when measurable.
        meta: { type: object }
    OperationTarget:
      type: object
      required: [platform, status]
      properties:
        platform: { type: string }
        status: { type: string, enum: [scheduled, processing, published, failed, cancelled] }
        postId: { type: [string, "null"] }
        url: { type: [string, "null"] }
        error: { type: [object, "null"] }
    Operation:
      type: object
      required: [id, status, targets]
      properties:
        id: { type: string }
        status: { type: string, enum: [scheduled, processing, completed, partially_failed, partially_cancelled, failed, cancelled] }
        targets: { type: array, items: { $ref: "#/components/schemas/OperationTarget" } }
    OperationResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data: { $ref: "#/components/schemas/Operation" }
        meta: { type: object }
    ScheduledPost:
      type: object
      required: [id, scheduledFor, caption, platforms, status]
      properties:
        id: { type: string }
        scheduledFor: { type: string, format: date-time }
        caption:
          type: string
          description: Display text for the post, matching the app's queue - the video title for YouTube, the caption for caption-first platforms.
        platforms: { type: array, items: { type: string } }
        status: { type: string, enum: [scheduled] }
    ScheduledPostsResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [posts]
          properties:
            posts: { type: array, items: { $ref: "#/components/schemas/ScheduledPost" } }
        meta: { type: object }
    AnalyticsResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [range, days]
          properties:
            range:
              type: object
              properties: { from: { type: string }, to: { type: string } }
            days:
              type: array
              items:
                type: object
                required: [date, totals]
                properties:
                  date: { type: string }
                  totals: { type: object }
        meta: { type: object }
    GenerateResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [text]
          properties:
            text: { type: string }
            tokensUsed: { type: integer }
        meta: { type: object }
    TodayIdea:
      type: object
      required: [date, grounded, language, topic, angle, format, hashtags, whyItFits]
      properties:
        date: { type: string }
        grounded: { type: boolean }
        language: { type: string }
        topic: { type: string }
        angle: { type: string }
        format: { type: string }
        hashtags: { type: array, items: { type: string } }
        whyItFits: { type: string }
        anchor: { type: string }
        citation:
          type: object
          required: [source]
          properties:
            source: { type: string }
            url: { type: string }
    TodayIdeaResponse:
      type: object
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: object
          required: [idea]
          properties:
            idea:
              oneOf:
                - { $ref: "#/components/schemas/TodayIdea" }
                - { type: "null" }
        meta: { type: object }
    ClipSource:
      type: object
      required: [url, title]
      properties:
        url: { type: string, maxLength: 2048, description: "The http or https page the clip came from." }
        title: { type: string, maxLength: 300 }
    SaveClipRequest:
      type: object
      required: [text, source]
      properties:
        text: { type: string, minLength: 1, maxLength: 5000, description: "The selected text, or the page title for a page clip. Saved verbatim." }
        source: { $ref: "#/components/schemas/ClipSource" }
    RecentIdea:
      type: object
      required: [id, content, sourceUrl, createdAt]
      properties:
        id: { type: string }
        content: { type: string }
        topic: { type: string, description: "Absent when not set." }
        platform:
          type: string
          description: "Absent when the idea is not platform-specific."
          enum: [instagram, tiktok, youtube, linkedin, twitter, facebook, pinterest, bluesky, threads, mastodon, gbp]
        sourceUrl: { type: string }
        createdAt: { type: string, format: date-time }
    RecentIdeasResponse:
      type: object
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          required: [team, canSave, hasMore, ideas]
          properties:
            team:
              type: object
              required: [id, name]
              properties:
                id: { type: string }
                name: { type: string }
            canSave: { type: boolean, description: "False when the workspace has no active plan. The list stays readable." }
            hasMore: { type: boolean, description: "True when the user saved more than the 50 ideas returned." }
            ideas:
              type: array
              maxItems: 50
              items: { $ref: "#/components/schemas/RecentIdea" }
        meta: { type: object }
    UpdateIdeaRequest:
      type: object
      minProperties: 1
      properties:
        content: { type: string, minLength: 1, maxLength: 5000 }
        topic: { type: [string, "null"], maxLength: 200, description: "null or empty clears it." }
        platform:
          type: [string, "null"]
          description: "null clears it."
          enum: [instagram, tiktok, youtube, linkedin, twitter, facebook, pinterest, bluesky, threads, mastodon, gbp, null]
    RecentIdeaResponse:
      type: object
      required: [success, data]
      properties:
        success: { const: true }
        data: { $ref: "#/components/schemas/RecentIdea" }
        meta: { type: object }
    IdeaCreatedResponse:
      type: object
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          required: [ideaId]
          properties:
            ideaId: { type: string }
        meta: { type: object }
security:
  - ApiKey: []
paths:
  /v1/clients:
    get:
      operationId: listClients
      summary: List the agency clients under the key's team
      description: >-
        Returns the team's agency clients (id/name/status). Use a client `id` as the
        `clientId` parameter on /v1/accounts, /v1/posts and /v1/ideas/today to act on
        that client's behalf.
      responses:
        "200":
          description: Agency clients
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ClientsResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/accounts:
    get:
      operationId: listAccounts
      summary: List connected accounts for the key's team (or an agency client)
      parameters:
        - name: clientId
          in: query
          required: false
          description: Agency client id (see /v1/clients) to list that client's accounts instead of the team's.
          schema: { type: string }
      responses:
        "200":
          description: Connected accounts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AccountsResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Unknown client, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/platforms:
    get:
      operationId: listPlatformCapabilities
      summary: Per-platform capability limits
      responses:
        "200":
          description: Capabilities
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlatformCapabilitiesResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/platforms/{platform}:
    get:
      operationId: getPlatformCapability
      summary: Capability limits for a single platform
      parameters:
        - { name: platform, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Single platform capability
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SinglePlatformCapabilityResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Unknown platform, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/health:
    get:
      operationId: health
      summary: Liveness probe (no auth)
      security: []
      responses:
        "200":
          description: Service health
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }
        "429": { description: Rate limited (edge applies a per-IP ceiling to all paths), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/media/upload-url:
    post:
      operationId: createMediaUploadUrl
      summary: Mint a presigned upload URL
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MediaUploadUrlRequest" } } }
      responses:
        "201":
          description: Upload URL
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MediaUrlResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/media/from-url:
    post:
      operationId: createMediaFromUrl
      summary: Ingest media from a public URL into storage
      description: >-
        Fetches the URL server-side and stores it as this team's media, returning the
        Sydium URL a post's `media` array requires. The fetch is pinned to the address
        validated by the SSRF guard, follows at most one redirect, and refuses anything
        resolving to a non-public address. Also returns the file's measured dimensions
        and duration where they can be determined.
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/MediaFromUrlRequest" } } }
      responses:
        "201":
          description: Stored media reference
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MediaUrlResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/posts:
    get:
      operationId: listScheduledPosts
      summary: List upcoming scheduled posts (optionally within a from/to window)
      description: >-
        Returns the team's scheduled posts, one entry per operation with its target
        platforms, sorted by scheduled time. Pass `from`/`to` (ISO 8601) to bound a
        window - for example the current week. Published and failed posts are not included.
      parameters:
        - { name: from, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: to, in: query, required: false, schema: { type: string, format: date-time } }
        - name: clientId
          in: query
          required: false
          description: Agency client id (see /v1/clients) to list only that client's scheduled posts.
          schema: { type: string }
      responses:
        "200":
          description: Scheduled posts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ScheduledPostsResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Unknown client, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
    post:
      operationId: createPost
      summary: Publish now to one or more connected platforms
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/CreatePostRequest" } } }
      responses:
        "201":
          description: Operation created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Unknown client, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/posts/{id}:
    get:
      operationId: getPost
      summary: Operation status with per-target results
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Operation status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Operation not found, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
    delete:
      operationId: cancelPost
      summary: Cancel still-scheduled targets of an operation
      description: >-
        Cancels only targets still in the `scheduled` state. Targets that have already begun
        publishing (`processing`) or reached a terminal state (`published`/`failed`) are left
        unchanged - cancellation never races an in-flight publish. Returns the operation's
        current per-target state after cancellation.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Operation after cancellation
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Operation not found, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
    patch:
      operationId: updatePost
      summary: Edit still-scheduled targets of an operation
      description: >-
        Edits the `caption`, `media`, and/or `scheduleAt` of an operation's targets that are
        still in the `scheduled` state. Omitted fields are left unchanged; `media: []` clears
        media. Targets already `processing`/`published`/`failed`/`cancelled` are left untouched
        - an edit never races an in-flight publish. Cannot change which platforms the operation
        posts to (cancel and re-create for that). Returns `409` if no target is still scheduled.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/UpdatePostRequest" } } }
      responses:
        "200":
          description: Operation after the edit
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OperationResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Operation not found, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "409": { description: "No target still scheduled (already publishing, published, or cancelled)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/ideas/today:
    get:
      operationId: getTodayIdea
      summary: Fetch today's Muse content idea (a read; does not generate)
      description: >-
        Returns the team's current Muse idea, resolved the same way the app does
        (paid plans see today's idea; free plans see the trailing 7-day idea), or
        a specific agency client's current idea when `clientId` is set. This is a
        read only - it never triggers idea generation or AI spend. When no idea is
        in window, `data.idea` is `null`.
      parameters:
        - name: clientId
          in: query
          required: false
          description: Agency client id (see /v1/clients) to read that client's current idea instead of the team's.
          schema: { type: string }
      responses:
        "200":
          description: Today's idea (or null when none is in window)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TodayIdeaResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: Unknown client, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/ideas:
    post:
      operationId: saveClipAsIdea
      summary: Save a clip as an idea in the content library
      description: >-
        Used by the Sydium Chrome extension. The text is saved verbatim, with the
        page it came from, and appears in the app's Ideas tab at once.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SaveClipRequest" }
      responses:
        "201":
          description: Idea saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdeaCreatedResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: "Forbidden (scope/permission, or no active plan)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/ideas/recent:
    get:
      operationId: listRecentExtensionIdeas
      summary: The ideas you saved from the Chrome extension, newest first
      description: >-
        Only ideas the signed-in user saved through POST /v1/ideas, up to 50.
        Readable without an active plan; `canSave` says whether new ideas can be saved.
      responses:
        "200":
          description: Recently saved ideas
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecentIdeasResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/ideas/{id}:
    patch:
      operationId: updateExtensionIdea
      summary: Edit an idea you saved from the Chrome extension
      description: >-
        Only an idea the signed-in user saved through POST /v1/ideas. Any other id
        returns 404 and nothing is written.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateIdeaRequest" }
      responses:
        "200":
          description: The updated idea
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecentIdeaResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: "Forbidden (scope/permission, or no active plan)", content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: No such idea saved from the extension by you, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
    delete:
      operationId: deleteExtensionIdea
      summary: Delete an idea you saved from the Chrome extension
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "404": { description: No such idea saved from the extension by you, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/analytics:
    get:
      operationId: getAnalytics
      summary: Per-day account analytics time-series
      parameters:
        - { name: from, in: query, required: false, schema: { type: string, format: date } }
        - { name: to, in: query, required: false, schema: { type: string, format: date } }
      responses:
        "200":
          description: Analytics
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AnalyticsResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/generate:
    post:
      operationId: generateCaption
      summary: Generate a social caption with AI
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: "#/components/schemas/GenerateRequest" } } }
      responses:
        "200":
          description: Generated caption
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerateResponse" }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "403": { description: Forbidden (scope/permission), content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "422": { description: Validation error, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "429": { description: Rate limited / insufficient tokens, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "500": { description: Generation failed, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
  /v1/mcp:
    post:
      operationId: mcp
      summary: MCP server (stateless Streamable HTTP, JSON-RPC 2.0). Send Accept= application/json, text/event-stream.
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, description: "JSON-RPC 2.0 request (tools/list, tools/call)" } } }
      responses:
        "200": { description: JSON-RPC result, content: { application/json: { schema: { type: object } } } }
        "401": { description: Unauthenticated, content: { application/json: { schema: { $ref: "#/components/schemas/ErrorResponse" } } } }
        "406": { description: Missing text/event-stream in Accept }
